{%- assign crumb_group = nil -%}
{%- assign crumb_title = nil -%}
{%- for group in site.data.navigation -%}
  {%- for item in group.items -%}
    {%- if item.url == page.url -%}
      {%- assign crumb_group = group.group -%}
      {%- assign crumb_title = item.title -%}
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}
{%- assign crumb_title = crumb_title | default: page.title -%}
{%- if page.url != "/documentation/" %}
<nav class="breadcrumbs" aria-label="Breadcrumb">
  <ol>
    <li><a href="{{ '/documentation/' | relative_url }}">Docs</a></li>
    {%- if crumb_group %}
    <li><span>{{ crumb_group }}</span></li>
    {%- endif %}
    {%- if crumb_title %}
    <li><span aria-current="page">{{ crumb_title }}</span></li>
    {%- endif %}
  </ol>
</nav>
{%- endif %}
